.autocomplete {
  position: relative;
  width: 100%;
  max-width: 360px;
}

.autocomplete input {
  width: 100%;
  height: 44px;
  padding: 0 14px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
  outline: none;
}

.autocomplete input:focus {
  border-color: #FBF5E8;
}

/* dropdown */
.autocomplete__list {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  right: 0;

  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  border: 1px solid #e5e7eb;

  max-height: 260px;
  overflow-y: auto;
  z-index: 20;

  padding: 6px 0;
}

/* item */
.autocomplete__list li {
  list-style: none;
}

/* botão da sugestão */
.autocomplete__list button {
  width: 100%;
  padding: 10px 14px;
  background: transparent;
  border: none;
  text-align: left;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
}

.autocomplete__list button:hover {
  background-color: #FBF5E8;
}

/* scroll bonito */
.autocomplete__list::-webkit-scrollbar {
  width: 6px;
}

.autocomplete__list::-webkit-scrollbar-thumb {
  background: #FBF5E8;
  border-radius: 6px;
}
