.sidebar {
    margin-left: 30px;
    width: 90px;
    height: calc(100vh - 6px);
    background-color: #8d8d8d ;
    border-radius: 18px;
    display: flex;
    

}

.sidebar__container{
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
    align-self: flex-end;

}