
.cities__section {
  margin-top: 60px;
    margin-left: 30px
  
}

.cities__title {
margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.cities__carousel {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-auto-rows: 150px;                
  gap: 16px;                             
}

.cities__card {
  background: #f4f4f4;
  border-radius: 14px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.cities__wrap{
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cities__card:hover {
  transform: scale(0.98);
  z-index: 2;
}

.cities__image {
    display: flex;
    position: relative;
    top:-25px;
    
  align-self: flex-end;
  width: 100%;
  max-width: 40px;
  height: 40px;
  
}


.cities__content{
    position: relative;
    top: -20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cities__name {
  font-weight: 500;
  font-size: 20px;
}

.cities__temp {
 justify-items: self-end;
 position: relative;
top: -20px;
 font-weight: 400;
font-size: 30px;
color: #555;
}
