.weather-Current{
  padding-top: 24px;
  padding-right: 10px;
  padding-left: 10px;
  width: 450px;
  margin-left: 30px;
  height: calc(100vh - 6px);
  background-color: #f4f4f4;
  border-radius: 18px;
  display: flex;
}

.weather-current__container{
    justify-content: space-between;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    
}
.weather-current__image {
  height: 50px;
}

.weather-current__wrap-one{
    display: flex;
}

.weather-current__wrap-two{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
}
