.forecast{
margin-left: 30px;
  width: 99%;
}

.forecast__card {
  display: flex;
  flex-direction: row;        
  gap: 16px;

  margin-top: 30px;
  width: 100%;
  height: 250px;

  padding: 16px;

  background: linear-gradient(to top, #ffffff 9%, #f4f4f4 100%);
  border-radius: 18px;

  overflow-x: auto;           
  overflow-y: hidden;

  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch;
}


.forecast__title{
margin-top: 30px;
  font-size: 20px;
  font-weight: 900;

}

.forecast__card-iten {
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;

  min-width: 180px;        
  height: 150px;

  border-radius: 18px;
  background: #fff;

  flex-shrink: 0;          
}

.forecast__card-title{
 
margin: auto;

}


.forecast__card-image {
  width: 120px;
  height: auto;
  display: block;
}

.forecast__card-temp{
margin: auto;
font-size: 20px;
    font-weight: 900;
    
}

.forecast__card-iten:hover {
  transform: scale(1.08);              
  z-index: 2;                         
}