@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

html,
body {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

input {
  border: none;
}

input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 0;
}
