.header {

  height: 64px;
  padding: 0 24px;
  background: white;
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 20px;
}

.header__container {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__text{
    font-size: 16px;
}

.header__username{
    font-size: 24px;
    font-weight:900; 
}



.header__search {
  width: 400px;
  height: 60px;
  margin-left: auto;
  border-radius: 40px;
  background-color: #F4F4F4;
  position: relative; /* necessário para o ícone absoluto */
  display: flex;
  align-items: center;
  padding-left: 48px; /* espaço pro ícone */
  border: 0;
}

.header__search input {
  width: 100%;
  height: 100%;
  border: 0;
  background: transparent;
  font-size: 16px;
  border-radius: 40px;
  padding-left: 0; /* já tem padding no container */
}

.search-icon {
  position: absolute;
  left: 16px;
  width: 20px;  /* tamanho do ícone */
  height: 20px;
}
.header__search input:focus {
  outline: none;        
  box-shadow: none;    
  border: 0;            
}

